{% extends 'base.html' %}

{% block head %}
<title>Dataset Anonymization Tool</title>
{% endblock %}

{% block body %}

<div class="container">
    <h1>Dataset Anonymization Tool</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <p class="mt-5">
                Welcome to the Dataset Anonymization Tool! This tool helps you to disseminate datasets containing
                personally identifiable information with privacy guarantees. You can either use your own dataset or
                generate a random one to anonymize.
            </p>
            <div class="btn-container d-flex justify-content-center">
                <a href="/generate" class="btn btn-secondary btn-lg ml-3">
                    <i class="fas fa-random"></i> Generate Random Dataset
                </a>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="fileInput" class="btn btn-primary btn-lg">
                        <i class="fas fa-upload"></i> Use Your Own Dataset
                    </label>
                    <input type="file" id="fileInput" name="file" class="d-none" accept=".csv">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Add JavaScript code to trigger file input click event and submit form -->
<script>
    document.getElementById('fileInput').addEventListener('change', function () {
        this.form.submit();
    });
</script>
{% endblock %}