{% extends 'base.html' %} {% block head %}
<title>Dataset Anonymization Tool</title>
{% endblock %} {% block body %}

<div class="container">
  <h1>Dataset Anonymization Tool Configuration</h1>
  <form action="/upload/result" method="post">
    <div class="row justify-content-center">
      <div class="col-4">
        <p class="mt-5">
          Manual configure the dataset anonymization tool. In this section you
          must select the type of each column from the csv file you have
          uploaded in order to anonymize the dataset.
        </p>
        <div>
          <label for="kanon" class="form-label">k-anonymity</label>
          <input
            type="number"
            id="kanon"
            name="kanon"
            placeholder="Leave blank to disable"
          />
          <p>
            Enforces anonymity by ensuring that every combination of
            quasi-identifiers occurs at least k times. 
            All columns that are not identifiers or sensitive are assumed
            quasi-identifiers
          </p>
        </div>
      </div>
      <table class="data-table table-responsive col-8">
        <thead>
          <tr>
            <th>Column</th>
            <th>Action</th>
            <th>Epsilon</th>
          </tr>
        </thead>
        <tbody>
          {% for column in column_names %}
          <tr>
            <td class="text-center">
              <label for="column_{{column}}">{{column}}</label>
            </td>
            <td>
              <select
                name="column_{{column}}"
                id="column_{{column}}"
                onchange="checkNumericData(this)"
              >
                <option value="sensitive_ignore">Sensitive/Ignore</option>
                <option value="id">Identifier</option>
                <option value="email">Email (sensitive, result: hmac(user)@hma(host))</option>
                <option value="num_gen">Numeric data (generalization)</option>
                <option value="num_data_pert_gauss">
                  Numeric data (gaussian perturbation)
                </option>
                <option value="num_data_pert_shuff">
                  Numeric data (shuffle perturbation)
                </option>
                <option value="num_data_pert_numer">
                  Numeric data (numeric perturbation)
                </option>
                <option value="country">Country (generalization)</option>
                <option value="num_data_bin">Binary data (perturbation)</option>
                <option value="mask">Other data (Masking)</option>
                <option value="remove">Remove column</option>
              </select>
            </td>
            <!-- Add an additional column with an input text field for numeric data -->
            <td id="numeric_data_column_{{column}}">
              <input
                type="number"
                min="0"
                max="1"
                step="0.01"
                name="epsilon_{{column}}"
                id="epsilon_{{column}}"
              />
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <input type="hidden" value="{{filename}}" name="filename" />
    </div>
    <div style="text-align: center">
      <input type="submit" value="Submit" class="btn btn-primary mt-3" />
    </div>
  </form>
</div>

{% endblock %}
