.container {
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.btn-container {
  text-align: center;
}

.btn {
  margin: 10px;
}

.btn-primary,
.btn-secondary {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: #218838 !important;
  border-color: #1e7e34 !important;
}

 /* Table colors */
 .table-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  font-size: 12px;
  height: 500px; /* set desired height */
  overflow-y: scroll;
}

/* Table title icons */
.table-title-icon {
  margin-right: 8px;
}

/* Table title colors */
.table-title {
  color: #007bff;
}

/* Hide arrows from number input*/
input {
  -moz-appearance: textfield;
}


/* Add some custom styles for the table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.data-table th,
.data-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.data-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.data-table select {
  font-size: 14px;
  padding: 6px 24px 6px 8px;
  background-color: lightblue;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  appearance: none;
  border: none;
  color: #333;
  width: 100%;
}

.data-table select:focus {
  outline: none;
}